<br>
<br>
<div class="page-header">
<center><h1>Materias</h1></center>
</div>
<br />
<br />
<center>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Nombre Materia:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Consultar", :name => nil, :class => 'btn btn-inverse btn-mini' %>
<% end %>
<% end %>
<%= form_tag request.path, :method => 'get' do %>
<%= content_tag :label do %>
Numero de Registros:
<%= text_field_tag :res, params[:res] %>
<% end %>
<% end %>
<br />
<br />
<br />
</center>
<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
<tr>
  <th><%= sortable "id" %></th>
  <th><%= sortable "nombre" %></th>
</tr>


  </thead>
  <tbody>
     <%= render @materias %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Materia',   new_materia_path, :class => "btn btn-mini btn-info", :remote => true %></td>
    </tr>
  </tfoot>
</table>
<br />
<br />
<div align="center">
<%= will_paginate @materias, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' rescue nil %>
</div>
<p>
Total Materias :<input type="text"  id="totalregs" class="span1" value="<%= @materias.total_entries %>" readonly />
</p>
</p>

